<!DOCTYPE html>
<!--
 
      Theme: Ashley v0.4
      Author: Jxnblk  [http://jxnblk.com]
      For: Tumblr  [http://tumblr.com/]
      Terms: Protected under Creative Commons.
  
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Custom Variables -->
    <meta name="image:Logo" content=""/>
    <meta name="text:Colophon" content="Ashley theme by Jxnblk"/>
    <meta name="text:GoogleWebFont" content="Gentium Book Basic"/>
    <meta name="text:GoogleWebFontURL" content="Gentium+Book+Basic"/>
    <meta name="color:Background" content="#fff"/>
    <meta name="color:Text" content="#444"/>
    <meta name="color:Link" content="#099"/>
    <title>{{site.name}}</title>
    <meta name="description" content="{{site.description}}">
    <link rel="shortcut icon" href="{{BASE_PATH}}/favicon.ico">
    <link rel="alternate" type="application/rss+xml" href="{RSS}">
      <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic' rel='stylesheet' type='text/css'>
    <meta name=viewport content='width=device-width, initial-scale=1'>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{BASE_PATH}}/css/main.css">
</head>
<body>

  <header>
    <h1><a href="/">{{site.name}}</a></h1> 
      <p>{{site.description}}</p>
  </header>

    <div class="content wrap">
      <section class="posts">
        {{content}}
      </section> <!-- /posts -->
    </div> <!-- /content -->
  
  <footer class="small wrap">
    
    <p class="small">Ashley theme by <a href="http://jxnblk.com">Jxnblk</a></p>
  </footer>
  
</body>
</html>